<!-- wp:template-part {"slug":"checkout-header","tagName":"header"} /-->

<!-- wp:woocommerce/page-content-wrapper {"page":"checkout"} -->
<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0","padding":{"top":"var:preset|spacing|l"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="padding-top:var(--wp--preset--spacing--l)"><!-- wp:post-title {"level":1,"align":"wide","fontSize":"xl","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|m"}}}} /-->

<!-- wp:woocommerce/store-notices /-->

<!-- wp:post-content {"align":"wide","layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->
<!-- /wp:woocommerce/page-content-wrapper -->

<!-- wp:template-part {"slug":"checkout-footer","tagName":"footer"} /-->
