<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:pattern {"slug":"loam/hidden-page-header"} /-->

<!-- wp:group {"align":"full","className":"is-page-content","style":{"spacing":{"padding":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull is-page-content" style="padding-top:0;padding-bottom:0"><!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /-->

<!-- wp:pattern {"slug":"loam/comments"} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
