<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group"><!-- wp:pattern {"slug":"loam/hidden-post-header"} /-->

<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"top":"0","bottom":"var:preset|spacing|xxl"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull" style="padding-top:0;padding-bottom:var(--wp--preset--spacing--xxl)"><!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /-->

<!-- wp:post-terms {"term":"post_tag","style":{"spacing":{"margin":{"top":"var:preset|spacing|l"}}}} /-->

<!-- wp:pattern {"slug":"loam/hidden-author-card"} /-->

<!-- wp:pattern {"slug":"loam/post-navigation"} /-->

<!-- wp:pattern {"slug":"loam/comments"} /--></div>
<!-- /wp:group -->

<!-- wp:pattern {"slug":"loam/posts-recent"} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
